*.log
*.db
*.pyc
.*.swp
*~
thesis/*.aux
thesis/*.log
thesis/*.pdf
thesis/output
thesis/a2-reference-content.tex
.lock-wscript
.waf-*
/daemon/daemon.cfg
/daemon/daemon.db
/daemon/tmp
/thesis/reference/build
/examples/torrent/big-data-file
/examples/torrent/big-data-file.torrent

